/* Borders  */

/* .container {
    border: 3px solid darkblue;
    } 

.main-menu {
    border: 2px solid indigo;
}

.main-block {
    border: 3px solid darkcyan;
}
        
.main-block__first,
.first-block__photo {
    border: 3px solid f8f9fa;
        } */

/* .education-block {
    border: 3px solid blue;
            
}
             */

/* General */


html, body, main {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
}

:root {
    --myColor: #f5df4e;
}

h1, h2, p {
    color: #212529;
}

.container {
    width: 1350px;
    margin: 0 auto;
} 

.block {
    margin: 0 auto;
    min-height: 950px;
    width: 100%;
    padding: 40px 5px 30px;
}

h3 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    color: #212529;
    text-align: center;
}

h4 {
    font-size: 20px;
    background-color: var(--myColor);
    padding: 0 8px;
    font-weight: 400;
    width: max-content;
    margin-bottom: 10px;
    margin-top: 0;
    color: #212529;
    text-align: center;
}

/* nav */

.main-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    min-height: 40px;
}

.main-menu p {
    margin: 12px 0 12px 0;
}

.main-menu p {
    margin: 12px 0 12px 0;
}

.main-menu p a:hover {
    color: #f8f9fa;
    transition: color .4s linear;
}

/* first block */

.first-block {
    background-color: var(--myColor);
    display: flex;
    flex-wrap: wrap;
}

.my-photo {
    border-radius: 50%;
    border: 15px solid #f8f9fa;
    width: 455px;
}

.main-block {
    width: 100%;
    display: flex;
    height: inherit;
    margin: 0 auto;
    min-height: 95%;
    /* border: 2px solid black; */
}

.main-block__first,
.main-block__photo {
    display: flex;
}

.main-block__first {
    flex-direction: column;
    flex-basis: 55%;
    justify-content: center;
}

.main-block__photo {
    align-items: center;
    justify-content: center;
    flex-basis: 45%;
}

.main-menu p a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #212529;
    font-weight: 700;
    font-size: 1.3em;
}

.main-block__first h1 {
    font-size: 52px;
    font-weight: 300;
    margin-bottom: 15px;
}

.main-block__first h2 {
    font-size: 80px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.2;
}

.main-block__first p {
    font-size: 26px;
    font-weight: 400px;
    margin-top: 0;
    margin-bottom: 30px;
    
}

.button-works {
    background-color: #212529;
    color: #f8f9fa;
    width: max-content;
    padding: 12px 40px;
    font-size: 18px;
    cursor: pointer;
}

.button-contact {
    font-size: 18px;
    padding-left: 50px;
    cursor: pointer;
}

.main-block__buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 16px;
}

.button-works a {
    text-decoration: none;
    color: #fff;
}

.button-contact a {
    text-decoration: none;
    color: #212529;
}

.main-block__buttons span {
    align-items: baseline;
}

.main-block_icon {
    height: 45px;
    align-self: center;
    padding-left: 0;
    margin-left: 3px;
    font-size: 30px;
}

  /* second block */

.biography-block {
    background-color: fffff;
    display: flex;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 36px;
    margin-top: 0;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 5px;
}

.title__name {
    border-bottom: 3px solid var(--myColor);
    font-weight: 700;
}

.about-me .text {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 40px;
}

.about-me__columns p {
    color: #6c757d;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.about-me__columns span {
    color: #212529;
    font-size: 20px;
    font-weight: 600;
}

.about-me__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.about-me__columns a {
    color: #212529;
    text-decoration: none;
    border-bottom: 1px solid #212529;
}

.about-me__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.about-me__text {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.about-me__experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    align-items: center;
    text-align: center;
}

.about-me__experience p {
    font-size: 120px;
    background-color: var(--myColor);
    padding: 1px 68px; 
    border-radius: 50%;
    margin-bottom: 20px;
    font-weight: 500;
}

.about-me__experience span {
    font-size: 28px;
    font-weight: 400;
}
    
.about-me__experience span span {
    font-weight: 700;
}

.about-me__languages {
    display: flex;
    margin-top: 40px;
}

.language-levels {
    color: #212529;
    font-size: 20px;
    font-weight: 600;
    padding-left: 1%;
}

.language-titles {
    color: #6c757d;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

/* skills-block */

.skills-block {
    background-color: #f8f9fa;
}

.skills-block__items {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    column-gap: 20px;
}

.skills-block__item {
    text-align: center;
}

.skills-block__item {
    color: #212529;
    font-size: 18px;
}


  /* education block */

.education-block__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    margin-top: 0;
}

.education-block {
    background-color: #fff; 
} 

.block-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.education-block h6 {
    color: #212529;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
}  

.education-block__column {
    border-left: 2px solid var(--myColor);
    padding: 0 10px 0 20px;
    margin-top: 20px;
    display: grid;
    row-gap: 35px;
}

.text-year {
    font-size: 17px;
    color: #212529;
    margin-top: 0;
    margin-bottom: 10px;
}
    
.text-description {
    font-size: 16px;
    color: #6c757d;
    margin-top: 0;
    margin-bottom: 0;
}

 /* experience block */

 .experience-block__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    margin-top: 0;
}
    
.experience-block {
    background-color: #f8f9fa;
} 
    
.experience-block h6 {
    color: #212529;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
}  
    
.experience-block__column {
    border-left: 2px solid var(--myColor);
    padding: 0 10px 0 20px;
    margin-top: 20px;
    display: grid;
    row-gap: 35px;
}

.experience-block__item_last {
    text-align: center;
    margin-top: 30px;
}

/* portfolio  */

.portfolio-block {
    background-color: #939393;
}

.portfolio-block__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 40px;
    margin-top: 10px;
}

.portfolio-block h3 {
    color: #fff;
}

.portfolio-block__item {
    color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 16px;
}

.portfolio-block__image {
    margin-bottom: 25px;
    border: 2px solid var(--myColor);
    cursor: pointer;
}


/* extra block  */

.extra-block {
    background-color: #fff;
}

.extra-block_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 0;
}

.extra-block__photo {
    display: flex;
    align-items: center;
}

.my-photo2 {
    height: 650px;
}

.extra-block h3 {
    color: #212529;
    margin-bottom: 20px;
}


.extra-block__text p {
    font-size: 21px;
    font-weight: 600;
    color: #6c757d;
    margin-bottom: 30px;
}


.extra-block__text span {
    font-weight: 400;
    color: #212529;
}

code {
    font-size: 21px;
    color: #212529;
}

/* contact-block preview */

.contact-block__preview {
    background-image: url(../images/background.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 30px;
}

.contact-block__preview h2 {
    font-size: 44px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.contact-block__preview h4 {
    font-size: 24px;
    font-weight: 400;
    background-color: var(--myColor);
    padding: 8px 25px;
    width: max-content;
}

.contact-block__preview h4 a {
    text-decoration: none;
    color: #212529;
}

/* contact-block */

.contact-block {
    margin: 0 auto;
    background-color: var(--myColor);
    width: 100%;
    padding-bottom: 70px;
    padding-top: 25px;
}

.contact-block h4 {
    margin: 0 auto;
    background-color: #fff;
    color: #212529;
   font-size: 20px;
    padding: 0 8px;
    font-weight: 400;
    width: max-content;
    margin-bottom: 10px;
    margin-top: 0px;
}
 
.contact-block__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    margin-top: 50px;
}

.contact-block__title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 25px;
}

.contact-block__column1 p {
    font-size: 21px;
    color: #212529;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;

}

.contact-block__column1 span {
    font-size: 19px;
    color: #212529;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;

}

.contact-block__columns h5{
    font-size: 20px;
    font-weight: 600;
    color: #212529;
    margin-bottom: 10px;
    margin-top: 15px;
}

.contact-block__column2 p {
    color: #212529;
    font-size: 21px;
    font-weight: 600;
}

.contact-block__column2 p a {
    color: #212529;
    font-size: 21px;
    text-decoration: none;
    font-weight: 400;
}

.contact-block__column2 p a:hover {
    color: #f8f9fa;
    transition: color .4s linear;
}

/* footer */

footer {
    width: 100%;
    background-color: #212529;
}

.footer-block {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;
}

.footer-block p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.footer-block p span {
    color: var(--myColor);
    text-decoration: underline;
    margin: 0;
}

.container {
    padding: 20px;
}

/*Responsive*/

/* 1201px - 1400px */
@media screen and (max-width: 1400px) {
	.container {
		width: 1140px;
	}
    .my-photo {
        width: 400px;
    }
    .main-block__first h2 {
        font-size: 68px;
    }
    .main-block__first h1 {
        font-size: 44px;
    }
    .my-photo2 {
        height: 430px;
    }
    .about-me__experience {
        padding-left: 30px;
    }
    .block {
        padding: 40px 15px 30px;
    }
}


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
    .extra-block_columns {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        margin-top: 0;
    }
    .my-photo2 {
        margin: 0 auto;
    }
    .main-block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* border: 2px solid black; */
    }
    .main-block__first,
    .main-block__photo {
        display: flex;
    }
    .main-block__first {
        flex-direction: column;
        justify-content: center;
        text-align: center;
       padding-bottom: 50px;
       padding-top: 80px;
    }
    .main-block__photo {
        align-items: center;
        justify-content: center;
    }
    .main-block__buttons {
        align-self: center;
    }
     .main-menu {
         font-size: 15px;
     }
     .block {
        padding: 40px 25px 30px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px; 
	}
    .block {
        padding: 40px 5px 30px;
    }
    .main-menu {
        visibility: hidden;
        font-size: 1px;
    }
    .main-block__first {
       padding-top: 20px;
    }
    .about-me__main {
        flex-direction: column;
    }
    .about-me__text {
        width: 100%;
    }
    .about-me__experience {
        width: 100%;
    align-items: center;
    padding-top: 0;
    margin-bottom: 30px;
    justify-content: center;
    }

    .about-me__text {
        width: 100%;
    }
    .about-me__experience p {
        margin-top: 0;
    }
    .portfolio-block__items {
        grid-template-columns: 1fr;
    }
    .about-me__columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .skills-block__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .education-block__columns {
        grid-template-columns: 1fr;
        margin-top: 0;
        border-left: 2px solid var(--myColor);
        row-gap: 50px;
    }
    .education-block__column {
        border-left: none;
        row-gap: 50px;
        margin: 0;
    }
    .experience-block__columns {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0;
        border-left: 2px solid var(--myColor);
        row-gap: 50px;
    }
    .experience-block__column {
        border-left: none;
        row-gap: 50px;
        margin: 0;
    }
   .experience-block__item_last {
        border-left: 2px solid var(--myColor);
        margin-top: 0;
        padding-top: 50px;
        text-align: left;
        padding-left: 20px;
   }
   .contact-block__columns {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 45px;
        text-align: center;
    }
    .about-me__languages {
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    }
    .language-levels {
        padding-left: 0;
        margin-top: 0;
        font-size: 20px;
    }
    
    .language-titles {
        margin-bottom: 8px;
        font-size: 18px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
        padding: 30px;
        margin: 0 auto;
	}
    .about-me__text {
        width: 100%;
    }
    header {
        margin: 0 auto;
        padding: 0;
    }
    .skills-block__items {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
        margin: 0;
    }
    .skills-block__item {
        font-size: 24px;
        margin: 0;
    }
    .footer-block {
       flex-direction: column;
       align-items: center;
       margin: 0;
    }
    .footer-block p:nth-child(1) {
        margin-bottom: 5px;
    }
   
    .about-me__columns {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .first-block {
        flex-wrap: wrap;
    }
    .main-menu {
        font-size: 1px;
    }
    .main-block__first h1 {
        font-size: 44px;
    }
    .main-block__first h2 {
        font-size: 52px;
    }
    .button-contact a {
    font-size: 22px;
    }
    .button-works a {
        font-size: 22px;
    }
    .block {
        min-height:auto;
    }
    .about-me__experience {
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 100%;
        padding: 10px;
	}
    .block {
        padding: 20px 5px 20px;
    }
    .main-block__first h1 {
        font-size: 30px;
        text-align: center;
    }
    .main-block__first h2 {
        font-size: 42px;
        text-align: center;
    }
    .portfolio-block__image {
        width: 210px;
    }
    .my-photo2 {
        height: 250px; 
        margin: 0 auto;
    }
    .first-block {
        margin: 0 auto;
    }
    .main-block__buttons {
        flex-direction: column;
    }
    code {
        font-size: 8px;
    }
    .my-photo {
        width: 260px; 
        margin: 0 auto;
        align-self: center;
    }

    .contact-block__column2 p a {
        font-size: 16px;
    }
    
    .main-menu p a {
        font-size: 1.3em;
    }
    
    .main-block__first p {
        font-size: 18px;
    }
    
    .button-works a {
        font-size: 16px;
    }
    
    .button-contact a {
       font-size: 16px;
    }

    .main-block__first {
        margin: 0 auto;
        padding-bottom: 5px;
    }


    h3 {
        font-size: 30px;
        font-weight: 600;
        margin-top: 10px;
        color: #212529;
        text-align: center;
    }
    
    h4 {
        font-size: 16px;
        background-color: var(--myColor);
        padding: 0 8px;
        font-weight: 400;
        width: max-content;
        margin-bottom: 10px;
        margin-top: 0;
        color: #212529;
        text-align: center;
    }
    
    .title {
        font-size: 20px;
    }
    
    .about-me .text {
        font-size: 14px;
        width: 100%;
    }
    
    .about-me__columns p {
        font-size: 14px;
    }
    
    .about-me__columns span {

        font-size: 16px;
    }

    .language-levels {
        font-size: 16px;
    }
    
    .language-titles {
        font-size: 14px;
    }

    .about-me__text {
        width: 100%;
    }
    .about-me__experience { 
        margin: 0 auto 30px;
        padding: 0;
    }
    
    .about-me__experience p {
        font-size: 80px;
        padding: 1px 50px; 
        border-radius: 50%;
        font-weight: 500;
        margin: 0 auto 20px;
    }
    
    .about-me__experience span {
        font-size: 20px;
        font-weight: 400;
    }
        
    .about-me__experience span span {
        font-weight: 700;
    }

    .skills-block__item {
        font-size: 16px;
    }

    .education-block h6 {
        font-size: 17px;
    }  

    .text-year {
        font-size: 15px;
    }
        
    .text-description {
        font-size: 14px;
    }
     
    .experience-block h6 {
        font-size: 17px;
    }  
    
    .portfolio-block__item {
        font-size: 15px;
    }
    
    .extra-block__text p {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .contact-block__preview h2 {
        font-size: 32px;
    }
    
    .contact-block__preview h4 {
        font-size: 22px;
    }
     
    .contact-block__title {
        font-size: 36px;
    }

    .contact-block p {
        font-size: 16px;
    }
    .contact-block__column1 span {
        font-size: 16px;
    }
    
    .contact-block__columns h5{
        font-size: 16px;
    }
    

    
    
    .footer-block p {
        font-size: 12px;
    }
   
}
    @media screen and (max-width: 400px) {
        .main-block__first h1 {
            font-size: 22px;
            text-align: center;
        }
        .main-block__first h2 {
            font-size: 32px;
            text-align: center;
        }
}
